<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant Apps</title>
</head>

<body>

    <nav class="navbar" aria-label="navbar">
        <div class="flex-center">
            <a id="hamburger" href="#" class="navbar-link">☰</a>
            <img src="./images/logo.png" style="height: 44px;" alt="">
            <a class="navbar-link flex-center" title="Restaurant Apps">Restaurant Apps</a>
            <a href="#6c7bqjgi84kcowlqdz" class="skip-link">Skip To Content</a>
        </div>
        <div class="view-dekstop">
            <div class="flex-center" style="margin: 0px;">
                <a class="navbar-link flex-center" href="/">Home</a>
                <a class="navbar-link flex-center" href="#">Favorite</a>
                <a class="navbar-link flex-center" href="https://github.com/gandatadyo">About Us</a>
            </div>

        </div>
    </nav>
    <div id="drawer" class="view-device" aria-label="side navigation">
        <a class="navbar-link" href="/">Home</a>
        <a class="navbar-link" href="#">Favorite</a>
        <a class="navbar-link" href="https://github.com/gandatadyo">About Us</a>
    </div>

    <main aria-label="content">
        <div class="banner" aria-label="banner">
            <div style="display: flex; align-items: center;height: 100%;background-color: rgba(0, 0, 0, 0.646);">
                <div style="margin: 0px 10%;">
                    <h1 style="font-size: 3rem;color: #f9d56e;margin: 0px;"><b>Restaurant Dicoding</b></h1>
                    <h2 style="font-size: 2rem;color: #f3ecc2;margin: 0px;">Italian Food
                    </h2>
                </div>
            </div>`
        </div>
        <div>
            <h3 style="text-align: center;font-size: 30px;">Explore Restaurant</h3>
            <div id="list_main" class="list-item">
                <!-- main data -->
            </div>
        </div>
    </main>
    <div class="footer" aria-label="footer">
        <b style="color: white;"> Copyright © 2020 - Hunger Apps</b>
    </div>
</body>

</html>